<h1>Your shopping cart</h1>
<div ng-controller="CartController as cartCtrl">
	<md-card  layout-align="space-around"  ng-repeat="product in cartCtrl.products track by $index">
		<div layout="row">
			 <div layout="column" flex="20">{{product.id}}</div>
			 <div layout="column" flex="30">{{product.description}}</div>
			 <div layout="column" flex="20">{{product.price}}</div>
			 <div layout="column" flex="20">
			 	<md-input-container>
			 		<label>Quantity</label>
			 		<md-select ng-model="product.quantity">
			 		<md-option ng-repeat="quantity in cartCtrl.quantities" value="{{quantity}}">{{quantity}}</md-option>
			 	</md-input-container>	
			 </div>
		</div>
	</md-card>
</div>

<md-button ng-click="cartCtrl.checkout()" class="md-raised md-primary">Checkout</md-button>


<div>
	<md-card  layout-align="space-around">
		<div layout="row">
			 <div layout="column" flex="20">
				 <md-input-container md-no-float>
				 	<label>Discount</label>
					  <input placeholder="code" type="text">
				</md-input-container>
			 </div>
			 <div layout="column" flex="20">
			 	<md-button ng-click="redeem" class="md-raised">Redeem</md-button>
			 </div>
		</div>
	</md-card>

	<md-card  layout-align="space-around">
		<div layout="row">
			 <div layout="column" flex="20">
				 <md-input-container md-no-float>
				 	<label>Adress</label>
					  <input placeholder="address" type="text">
				</md-input-container>
			 </div>
			 <div layout="column" flex="20">
			 	<md-button ng-click="setAddress" class="md-raised">Submit</md-button>
			 </div>
		</div>
	</md-card>
</div>